[Unit]
Description=Service to control battery charge limit.
After=multi-user.target hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/bin/battery_limit_manager
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target hibernate.target
