[Unit]
Description=Apply battery charge limit.
After=setlimitmanager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setlimit
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target
