[Unit]
Description=Service to define battery charge limit.

[Service]
Type=oneshot
ExecStart=/usr/bin/setlimit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target hibernate.target
